
#stories .card-1 {
    background-image: url(../img/card-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 195px;
    width: 110px;
    border-radius: 8px;
    margin-left:10px;
}

#stories .person-img {
    border-radius: 50%;
    border: 4px solid #ffffff;
    width: 40px;
    height: 40px;
}

#stories .rounded-circle {
    width: 40px;
    height: 40px;
}

